* {
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 16px;
}

p {
  font-size: smaller;
  color: black;
}

.bar {
  background-color: rgb(152, 139, 158);
  box-shadow: 0 1px 1px #8f9192;
  border-radius: 2px;
  width: 400px;
  padding: 14px;
  margin: 45px auto 3px;
  position: relative;
}

.bar input {
  background: #fff no-repeat 13px 13px;
  border: none;
  width: 100%;
  line-height: 19px;
  padding: 11px 0;

  border-radius: 2px;
  box-shadow: 0 2px 8px #c4c4c4 inset;
  text-align: left;
  font-size: 14px;
  font-family: inherit;
  color: #738289;
  font-weight: bold;
  outline: none;
  text-indent: 40px;
}

ul {
  list-style: none;
  width: 425px;
  margin: 0 auto;
  text-align: left;
}

ul li {
  background: #ddd;
  border-bottom: 3px solid whitesmoke;
  padding: 5px;
  overflow: hidden;
}

ul li p {
  text-align: center;
  font-weight: bold;
  padding-top: 7px;
}

.details {
  padding: 8px;
  width: 400px;
  height: auto;
  overflow: auto;
  margin: 0 auto;
  box-shadow: 10px 10px 8px 2px #888888;
}

.title {
  border-bottom: 2px groove gold;
  margin-bottom: 6px;
}

.sub-heading {
  text-transform: capitalize;
  font-weight: bold;
}
